body{
  margin: 0;
  text-align: center;

}


.cloud1{
  position: absolute;
  top:100px;
  right: 405px;
}
.cloud2{
  position: absolute;
  left:450px;
}
h1{
  margin:0;
  display:inline-block;
  padding: 50px 50px 0 50px;

}
.top-container{
  position: relative;
  background-color:#F7ECDE;
  padding-top:100px;
}
.middle-container{
  background-color: Red;
  height: 200px;
  width: 200px;
}

.bottom-container{
  background-color: Blue;
  height: 200px;
  width: 200px;
}

.passage-text{
  text-decoration: underline;
  background-color: grey;
}
